if SHIELD_MEOW_DONGLE

config ZMK_KEYBOARD_NAME
    default "meow"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MEOW_DONGLE || SHIELD_MEOW_LEFT || SHIELD_MEOW_RIGHT

config ZMK_SPLIT
    default y

endif