config SHIELD_MEOW_LEFT
    def_bool $(shields_list_contains,meow_left)

config SHIELD_MEOW_RIGHT
    def_bool $(shields_list_contains,meow_right)

config SHIELD_MEOW_DONGLE
    def_bool $(shields_list_contains,meow_dongle)
